# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.log

# Virtual environment
venv/
.venv/
env/
ENV/
server/vene/

# IDE/editor configs
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
*.env

# Byte-compiled / optimized / DLL files
*.so
*.dll
*.dylib

# Mypy, Pytest, Coverage
.mypy_cache/
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Uvicorn / FastAPI specific
*.db
instance/
*.pid

# OS files
.DS_Store
Thumbs.db
